<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayra</title>
</head>
<body>
    <h1>esta va a ser el home</h1>
    <a href="login">al login</a> 
    <a href="register">register</a>
    <a href="shoppingcart">al carrito de compras!!!</a>
</body>
</html>